player-connection-mode=Listen
player-connection-guid=79483796
player-connection-debug=0
player-connection-project-name=Multiplayer Test
player-connection-ip=192.168.0.147
player-connection-ip=26.185.118.199
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c8c35cd4f2c5441ea2f78b9951950998
